<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles/globals.css" rel="stylesheet" type="text/css">
    <link href="/styles/member.css" rel="stylesheet" type="text/css">

  </meta(name>
    <title>Confirm your membership</title>
  </head>
  <body>

      <% if(locals.user){ %>
          <% if (!locals.user.member) { %>
      <div class='wrapperLog'>
        <div>
          <h2 class='header'>Thanks for signing up!</h2>
        </div>
          <p>
            Enter passcode and confirm your membership
          </p>
        <div class='passcodeWrapper'>
          <div class='passcodeSlider'>
            <span class='passcodeSlide'>4</span>
            <span class='passcodeSlide'>5</span>
            <span class='passcodeSlide'>7</span>
            <span class='passcodeSlide answer'>2</span>
          </div>
          <div class='passcodeSlider'>
            <span class='passcodeSlide2'>9</span>
            <span class='passcodeSlide2 answer'>1</span>
            <span class='passcodeSlide2'>6</span>
            <span class='passcodeSlide2'>8</span>
          </div>
          <div class='passcodeSlider'>
            <span class='passcodeSlide3'>3</span>
            <span class='passcodeSlide3'>1</span>
            <span class='passcodeSlide3 answer'>6</span>
            <span class='passcodeSlide3'>8</span>
          </div>
          <div class='passcodeSlider'>
            <span class='passcodeSlide4'>9</span>
            <span class='passcodeSlide4'>2</span>
            <span class='passcodeSlide4'>6</span>
            <span class='passcodeSlide4 answer'>9</span>
          </div>
        </div>
          <form class='confirmWrapper' method='POST' action=''>
            <label for='passcode'>Passcode</label>
            <input type='string' required name='passcode' placeholder='Passcode' />
            <% if (locals.passcodeError) {%>
            <span> <%= locals.passcodeError %></span>
            <%}%>
            <a href="/">
              <img class='home filterGreen' src='/images/home.svg' />
            </a>

            <button class='fancyButton'>Enter</button>

          </form>

      </div>
      </div>
        <% } else{ %>
          <div class='wrapper'>
            <div class='welcome'>
              <h1 class='header blink'> Welcome <br> <%= user.username %></h1>
              <button class='fancyButton logout'>
                <a href="/logout">Logout</a>
              </button>
            </div>
            <div>
              <form class='messageWrapper' method='POST' action='/submitpost'>
                <label for='title'>Title</label>
                <input class='messageTitle' type='text' placeholder='Title' name='title' required  />
                <label for='message'>Message</label>
                <textarea class='messageText' name='message' placeholder='What do you have to say?' required></textarea>
                <button class='fancyButton'>Submit</button>
              </form>
            </div>
            <a href="/">
              <img class='home filterGreen' src='/images/home.svg' />
            </a>
            <a href="/admin">
              <img class='admin filterGreen' src='/images/admin.svg'/>
            </a>

            <a href="/profile">
              <img class='profile filterGreen' src='/images/user.svg' />
            </a>


            <% if(locals.messages){ %>
              <% messages.forEach(function(message) { %>
              <div class='cardWrapper fadeIn'>
                <% if(locals.user.admin) { %>
                  <div class='trash'>
                    <form action="/delete" method="POST">
                      <input type='hidden' name='messageId' <%='value='%><%=message._id%> />
                      <input type='image' src='/images/trash.svg' class='filterGreen trash' />
                    </form>
                  </div>
                  <% } %>
                <div class='cardTop'>
                  <div class='cardImage'>
                    <img class='filterGreen' <%='src='%><%=message.user.getImageURL%>>
                  </div>
                  <div class='cardAuthor'>
                    <span><%= message.user.username %></span>
                  </div>
                </div>
                <div class='cardBottom'>
                  <div class='cardContent'>
                    <div class='cardHeader'>
                      <h3><%= message.title %></h3>
                    </div>
                    <div class='cardText'>
                      <p>
                        <%= message.message %>
                      </p>
                    </div>
                  </div>
                <div class='cardDate'>
                  <span><%= message.getTime %></span>
                  <span><%= message.getDate %></span>
                  </div>
                <div class='cardReply'>
                  <form class='formReply' action='/submitreply' method='POST'>
                    <input type='hidden' name='postId' <%='value='%><%=message._id%> />
                    <input  type='text' name='reply' placeholder='Reply' required />
                    <button class='fancyButton'>Submit</button>
                  </form>
                </div>
                  </div>

              </div>
              <% if(message.replies){  %>
                <% for (var i=0; i < message.replies.length; i++ ){ %>
                  <div class='cardWrapper reply fadeIn'>
                    <% if(locals.user.admin) { %>
                      <div class='trash'>
                        <form action="/deletereply" method="POST">
                          <input type='hidden' name='replyId' <%='value='%><%=message.replies[i]._id%> />
                          <input type='image' src='/images/trash.svg' class='filterGreen trash' />
                        </form>
                      </div>
                      <% } %>
                    <div class='cardTop replyTop'>
                      <div class='cardImage'>
                        <img class='filterGreen' <%='src='%><%=message.replies[i].user.getImageURL%>>
                      </div>
                      <div class='cardAuthor'>
                        <span><%= message.replies[i].user.username %></span>
                      </div>
                    </div>
                    <div class='cardBottom'>
                      <div class='cardContent replyContent'>
                        <div class='cardText'>
                          <p>
                            <%= message.replies[i].messageReply %>
                          </p>
                        </div>
                      </div>
                    <div class='cardDate'>
                      <span><%= message.replies[i].getTime %></span>
                      <span><%= message.replies[i].getDate %></span>
                      </div>
                  </div>
                </div>

              <% }} %>


            <% }) } %>

            <% } %>
          </div>

        <% } else{ %>
          <div class='wrapperLog'>
            <div>
              <h1 class='header'>Please log in</h1>
            </div>
            <div class="">
              <form class='loginForm' action="/login" method="POST" >
                  <label for="username">Username</label>
                  <input type="text" name="username" placeholder="Username" type="text">

                  <label for="password">Password</label>
                  <input type="password" name="password" placeholder="Password" />

                  <% if(locals.errorMessage){ %>
                    <span><%= locals.errorMessage %></span>
                  <% } %>
                  <a href="/">
                    <img class='home filterGreen' src='/images/home.svg' />
                  </a>

                  <button class='fancyButton'>Log in</button>
              </form>
            </div>
            </div>

        <% }  %>

          </div>



  </body>
</html>
