<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/styles/globals.css" rel="stylesheet" type="text/css">
    <link href="/styles/login.css" rel="stylesheet" type="text/css">
    <link href="/styles/member.css" rel="stylesheet" type="text/css">
    <link href="/styles/animation.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.ico">
    <title>Profile</title>
  </head>
  <body>
    <nav class='nav homeWrap'>
      <a class='homea' href="/">
        <img class='home filterGreen' src='/images/home.svg' />
        <% if (locals.user) { %>
          <a href="/admin">
            <img class='admin filterGreen' src='/images/admin.svg'/>
          </a>
          <a href="/members">
            <img class='members filterGreen' src='/images/members.svg'/>
          </a>
          <a href="/profile">
            <img class='profile filterGreen' src='/images/user.svg' />
          </a>
          <a href="/logout">
            <img class='logout filterRed' src='/images/logout.svg' />
          </a>
      <% } %>
      </a>
    </nav>
    <div class='wrapperLog homeWrap'>
      <div class='welcome'>
        <h1 class='header animateFade'>Club Member</h1>
        <span class='animateFade'><%=name%></span>
      </div>
      <div class='cardImage profileImage animateFade delay-1'>
        <img class='filterGreen' <%='src='%><%=avatar%>>
      </div>
      <div class='messageTotal ' >
        <h2 class='animateFade delay-2'>Total Messages</h2>
        <span class='animateFade delay-2'><%=messages.length%></span>
        </div>
        <a href="/members">
          <button class='fancyButton animateFade'>All Members</button>
        </a>
      </div>
      <div class='wrapper profileWrapper animateFade delay-3'>

        <% messages.forEach(function(message){ %>
        <div class='cardWrapper'>
          <% if(locals.user.admin || locals.user.username === name ) { %>
            <div class='trash'>
              <form action="/delete" method="POST">
                <input type='hidden' name='messageId' <%='value='%><%=message._id%> />
                <input type='hidden' name='userId' <%='value='%><%=profid%> />
                <input type='image' src='/images/trash.svg' class='filterGreen trash' />
              </form>
            </div>
            <% } %>
            <div class='cardTop'>
              <div class='cardImage'>
                <img class='filterGreen' <%='src='%><%=avatar%> />
              </div>
              <div class='cardAuthor'>
                <span><%=name%></span>
              </div>

              </div>

            <div class='cardBottom'>
              <div class='cardContent'>
                <div class='cardText'>
                  <div class='cardHeader'>
                    <h3><%=message.title%></h3>
                  </div>
                  <p>
                    <%=message.message%>
                  </p>
                </div>
              </div>
              <div class='cardDate'>
                <span><%=message.getTime %></span>
                <span><%=message.getDate %></span>
              </div>
            </div>

            </div>

              <%  }) %>


        </div>

    <footer class='footer'>
      <span class='quote'>Hackers often describe what they do as playfully creative problem solving.</span>
      <a class='footerGit' href='https://github.com/drenchoman'>
        <img class='filterWhite' src='/images/github.svg' />
        <span>Drenchoman</span>
      </a>
    </footer>

  </body>

</html>
