<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/styles/globals.css" rel="stylesheet" type="text/css">
    <link href="/styles/register.css" rel="stylesheet" type="text/css">
    <link href="/styles/animation.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
  </head>
  <body>
    <nav class='nav homeWrap'>
      <a class='homea' href="/">
        <img class='home filterGreen' src='/images/home.svg' />
      </a>
      <span class='hackerQuote'>Should we fear hackers? Intention is at the heart of this discussion.</span>
    </nav>
    <div class='wrapperLog'>
      <div>
        <h1 class='header'><%= title %></h1>
      </div>
      <div>
        <form class='registerForm' action='' method='POST'>
            <label for="username">Username</label>
            <% if (locals.username) { %>
              <input type="text" required name="username" placeholder="Username" <%="value="%><%=username%> type="text">
            <% } else { %>
              <input type="text" required name="username" placeholder="Username" type="text">
            <% } %>

            <% if (locals.usernameExists) { %>
            <span><%= usernameExists %></span>
            <% } %>

            <label for="password">Password</label>
            <input type="password" required name="password" placeholder="Password" />

            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" required />
          <label>Choose Avatar</label>
          <div class='avatarWrapper'>

              <label class='animatePop delay-1'>
                <input type='radio' name='avatar' value='cube1' checked />
                <img class='avatarImage' src='/images/cube1.svg' />
              </label>

            <label class='animatePop delay-1'>
              <input type='radio' name='avatar' value='cube2' />
              <img class='avatarImage' src='/images/cube2.svg' />
            </label>

            <label class='animatePop delay-1'>
              <input type='radio' name='avatar' value='cube3' />
              <img class='avatarImage' src='/images/cube3.svg' />
            </label>

            <label class='animatePop delay-1'>
              <input type='radio' name='avatar' value='cube4' />
              <img class='avatarImage' src='/images/cube4.svg' />
            </label>

            <label class='animatePop delay-2'>
              <input type='radio' name='avatar' value='cube5' />
              <img class='avatarImage' src='/images/cube5.svg' />
            </label>

            <label class='animatePop delay-2'>
              <input type='radio' name='avatar' value='smiley1' />
              <img class='avatarImage' src='/images/smiley1.svg' />
            </label>

            <label class='animatePop delay-2'>
              <input type='radio' name='avatar' value='smiley2' />
              <img class='avatarImage' src='/images/smiley2.svg' />
            </label>

            <label class='animatePop delay-3'>
              <input type='radio' name='avatar' value='smiley3' />
              <img class='avatarImage' src='/images/smiley3.svg' />
            </label>

            <label class='animatePop delay-3'>
              <input type='radio' name='avatar' value='cookie' />
              <img class='avatarImage' src='/images/cookie.svg' />
            </label>

            <label class='animatePop delay-3'>
              <input type='radio' name='avatar' value='pizza' />
              <img class='avatarImage' src='/images/pizza.svg' />
            </label>
          </div>
          <button class='fancyButton'>Register</button>


          </div>

            <% if (locals.errors){ %>
              <ul class='errors'>
                <% locals.errors.forEach(function(message) {  %>
                  <li><%= message.msg %></li>
                <% } ); %>
              </ul>
              <% } %>

        </form>
        <div class='hackerAnimation'>
          <span class='number'>1</span>
          <span class='number2'>0</span>
          <span class='number3'>1</span>
          <span class='number4'>0</span>
          <span class='number5'>1</span>
        </div>
      </div>

      </div>
      <footer class='footer'>
        <span class='quote'>Hackers often describe what they do as playfully creative problem solving.</span>
        <a class='footerGit' href='https://github.com/drenchoman'>
          <img class='filterWhite' src='/images/github.svg' />
          <span>Drenchoman</span>
        </a>
      </footer>


  </body>
</html>
